<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="dist/css/app.css">
    </head>
    <body>
        <section id="header"></section>

        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="col-xs-4 col-md-2"></div>
                <div id="main" class="col-xs-8 col-md-10 col-xs-offset-4 col-md-offset-2"></div>
            </div>
        </div>

        <script src="js/libraries/notification.js"></script>
        <script src="js/libraries/chartjs/Chart.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/momentjs/moment.js"></script>
        <script src="bower_components/moment-range/lib/moment-range.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone.localstorage/backbone.localstorage.js"></script>
        <script src="bower_components/marionette/lib/core/backbone.marionette.min.js"></script>

        <script src="dist/js/App/bootstrapper.js"></script>
<script src="dist/js/Data/App/FilterOptions.js"></script>
<script src="dist/js/Data/App/Screens.js"></script>
<script src="dist/js/Data/Screens/Settings/Settings.js"></script>
<script src="dist/js/Data/Screens/Tasks/DefaultTasks.js"></script>
<script src="dist/js/Data/Screens/Tasks/Tasks.js"></script>
<script src="dist/js/Data/Screens/JiraTasks/JiraSettings.js"></script>
<script src="dist/js/Data/Screens/JiraTasks/JiraTasks.js"></script>
<script src="dist/js/Data/Screens/Screentime/Screentime.js"></script>
<script src="dist/js/Components/Config.js"></script>
<script src="dist/js/Components/DateTime.js"></script>
<script src="dist/js/Components/Growler.js"></script>
<script src="dist/js/Components/Header.js"></script>
<script src="dist/js/Components/Loader.js"></script>
<script src="dist/js/Components/Notifier.js"></script>
<script src="dist/js/Components/ScreenCapture.js"></script>
<script src="dist/js/Components/Sidebar.js"></script>
<script src="dist/js/Components/Statistics/JIRA.js"></script>
<script src="dist/js/Components/Statistics/Statistics.js"></script>
<script src="dist/js/Components/Storage.js"></script>
<script src="dist/js/Components/Texts.js"></script>
<script src="dist/js/Widgets/FilterOptions.js"></script>
<script src="dist/js/Widgets/Reporting/JIRA/PriorityWorkedOn.js"></script>
<script src="dist/js/Widgets/Reporting/JIRA/ProjectsWorkedOn.js"></script>
<script src="dist/js/Widgets/Reporting/JIRA/TimeLogged.js"></script>
<script src="dist/js/Widgets/Reporting/JIRA/TimeTracked.js"></script>
<script src="dist/js/Widgets/Search.js"></script>
<script src="dist/js/Screens/Dashboard/Dashboard.js"></script>
<script src="dist/js/Screens/Settings/Settings.js"></script>
<script src="dist/js/Screens/Tasks/AddTaskForm.js"></script>
<script src="dist/js/Screens/Tasks/TaskItemView.js"></script>
<script src="dist/js/Screens/Tasks/Tasks.js"></script>
<script src="dist/js/Screens/Tasks/TasksView.js"></script>
<script src="dist/js/Screens/JiraTasks/JiraSettingsView.js"></script>
<script src="dist/js/Screens/JiraTasks/JiraTasks.js"></script>
<script src="dist/js/Screens/JiraTasks/TaskItemView.js"></script>
<script src="dist/js/Screens/JiraTasks/TasksView.js"></script>
<script src="dist/js/Screens/Screentime/Screenshot.js"></script>
<script src="dist/js/Screens/Screentime/Screentime.js"></script>
<script src="dist/js/Screens/Timer/TaskDisplay.js"></script>
<script src="dist/js/Screens/Timer/TaskSelector.js"></script>
<script src="dist/js/Screens/Timer/Timer.js"></script>
<script src="dist/js/Screens/TodaysTasks/TodaysTasks.js"></script>
<script src="dist/js/App/init.js"></script>
    </body>
</html>