bower_components
node_modules
.DS_Store
static/img/screens/thumbs/*
static/img/screens/full/*
static/img/screens/screens-list.txt
static/dist
backup.json
npm-debug.log
jiraTasks.json
.password
static/docs
data/stats.json
