<div class="add-task-form">
    <h4>Create New Task <span class="toggle-add-task"><i class="fa fa-toggle-down"></i></span></h4>
    <form class="form-inline" style="display: none;">
      <h6>Tags should be comma separated</h6>
      <div class="form-group">
        <label class="sr-only" for="task-name">Email address</label>
        <input type="text" class="form-control" id="task-name" placeholder="Task name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="Tags">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="start-timer"> Start Timer
        </label>
      </div>
      <button type="submit" class="btn btn-success">Create Task</button>
    </form>
</div>