<header>
    <h4 class="tasks-title">
        Tasks <span class="badge"></span>
        <button class="export btn btn-info btn-xs" style="float: right; display:block;"><span><i class="fa fa-download"></i> Export Tasks</span></button>
    </h4>

</header>
<div class="tasks-header">
    <div class="row">
        <div class="col-xs-5">
            <span>Task Name</span>
        </div>
        <div class="col-xs-4">
            <span>Tags</span>
        </div>
        <div class="col-xs-1 tracker">
            <span>Timer</span>
        </div>
        <div class="col-xs-1 count">
            <span>Time</span>
        </div>
        <div class="col-xs-1 actions">
            <span>Actions</span>
        </div>
    </div>
</div>
<div class="tasks"></div>