    <div class="apidocs">
        <div id="docs-main" class="content">
            <h2>Keyboard Shortcuts</h2>

            <ul>
                <li><p>Press <kbd>s</kbd> to focus search.</p></li>

                <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> keys to select modules when search is in focus.</p></li>

                <li><p>Use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> and <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to traverse your search history</p></li>
            </ul>
        </div>
    </div>


