Task:

<div class="current-task form-control">
    <span class="text"></span> <i class="fa fa-sort pull-right"></i>
    <div class="menu" style="display: none;">
        <div class="controls row">
            <div class="close-container col-xs-12">
                <span class="pull-right"><i class="fa fa-times"></i></span>
            </div>
            <span class="filter-options col-xs-4"></span>
            <div class="col-xs-8">
                <input type="search" class="form-control tasks-filter" placeholder="Filter Tasks..." autocomplete="off" />
            </div>
        </div>
        <ul class="list-group"></ul>
    </div>
</div>