<div class="modal fade" id="image-zoom" tabindex="-1" role="dialog" aria-labelledby="image zoom modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="btn-group">
                <button type="button" class="btn btn-default prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button class="btn btn-default delete">Delete</button>
                <button type="button" class="btn btn-default next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <span class="caption"></span>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>