<header>
    <h4 class="tasks-title">JIRA Tasks <span class="badge"></span></h4>
</header>
<div class="tasks-header">
    <div class="row">
        <div class="col-xs-5">
            <span>Task Name <a href="#" class="sorter" data-sorter="taskName" data-sortorder=""><i class="fa fa-sort"></i></a></span>
        </div>
        <div class="col-xs-1">
            <span>Key <a href="#" class="sorter" data-sorter="key" data-sortorder=""><i class="fa fa-sort"></i></a></span>
        </div>
        <div class="col-xs-2">
            <span>Status <a href="#" class="sorter" data-sorter="status" data-sortorder=""><i class="fa fa-sort"></i></a></span>
        </div>
        <div class="col-xs-1">
            <span>Priority <a href="#" class="sorter" data-sorter="priority" data-sortorder=""><i class="fa fa-sort"></i></a></span>
        </div>
        <div class="col-xs-1 tracker">
            <span>Tracker</span>
        </div>
        <div class="col-xs-1 count">
            <span>Time</span>
        </div>
        <div class="col-xs-1 actions">
            <span>Actions</span>
        </div>
    </div>
</div>
<div class="jira-tasks"></div>